In [6]:
import pandas as pd
import numpy as np

cars_data = pd.read_csv("vehicles_cleaned_train.csv")

cars_data.head()

,price,year,condition,cylinders,fuel,odometer,transmission,size,type
0,10400,2011,excellent,4 cylinders,gas,81300,automatic,mid-size,sedan
1,6900,2007,excellent,6 cylinders,gas,79000,automatic,full-size,sedan
2,18900,2018,like new,4 cylinders,gas,5000,automatic,full-size,sedan
3,6000,2010,excellent,4 cylinders,gas,97600,automatic,mid-size,hatchback
4,19995,2013,good,6 cylinders,gas,95782,automatic,mid-size,sedan

In [7]:
prices = cars_data["price"]
cars_data = cars_data.drop(columns=['price'])
dummies = pd.get_dummies(cars_data)

In [8]:
X = dummies.to_numpy()
X = np.c_[np.ones((X.shape[0],1)), X]

d = prices.to_numpy()

In [4]:
R = X.T @ X
p = X.T @ d

w = np.linalg.solve(R, p)

In [9]:
cars_test = pd.read_csv("vehicles_cleaned_test.csv")

prices_test = cars_test["price"]
cars_test = cars_test.drop(columns=['price'])
dummies_test = pd.get_dummies(cars_test)
Xt = dummies_test.to_numpy()
Xt = np.c_[np.ones((Xt.shape[0],1)), Xt]

Yt = Xt @ w

Yt

array([17265.56968113, 16905.9899908 , 16062.20398058, ...,
       16384.10809753, 13142.64686675, 13579.29551981])